.lcd-char {
    margin: 0 0 1px 1px;
    padding: 0;
    border-spacing: 0;
    border: 1px solid black;
    cursor: pointer;
    &__cell {
        width: 5px;
        height: 8px;
        margin: 0;
        padding: 0;
        &_selected_yes {
            background: black;
        }
    }
}
