.lcd-char {
    margin: 0 1px 1px0;
    padding: 0;
    border-spacing: 0;
    border: 1px solid #090007;
    cursor: pointer;
    &__cell {
        width: 10px;
        height: 10px;
        margin: 0;
        padding: 0;
        &_selected_yes {
            background: #090007;
        }
    }
    &_size_big &__cell {
        width: 30px;
        height: 30px;
    }
}
