.lcd-chars .lcd-char {
    float: left;
}

.lcd-chars {
    padding: 10px;
    margin: 0 auto;
    background: #ffa242;
    width: (20 * 10 * 5 + 20 * 3)px;
}
.lcd-chars__row {
    overflow: hidden;
}
